.exam{
    border: solid;
    width: 730px;
    height: 900px;
    padding: 2vh;
}
.title{
    font-size:medium;text-align: center;
}
.exam2{
    border: solid;
    width: 730px;
    height: 860px;
    padding: 2vh;
}
.exam3{
    border: solid;
    width: 730px;
    height: 900px;
    padding: 2vh;
}